<div class="row">
    <div class="col"></div>
    <div class="col text-center">
        <h5>Usefull Links</h5>
        <div>
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Home</a>
        </div>
        <div>
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">View Appointments</a>
        </div>
        <div>
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Place Appointments</a>
        </div>
        <div>
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Contact Us</a>
        </div>

    </div>
    <div class="col">
        <h5>Contacts</h5>
        <div>
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Address</a>
        </div>
        <div>
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Email</a>
        </div>
        <div>
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Phone</a>
        </div>
        <div>
            <a class="link-info" style="text-decoration: none;" [routerLink]="['/home']">Company Fax</a>
        </div>
    </div>
</div>
<div class="row mt-4 text-center">
    <div class="col">
        &copy; 2022 GET-FIT Health Club
    </div>
</div>